@media screen and (min-width: 470px){
  header>div{
    display: none;
  }

  header h1{
    font-size: 24pt;
  }

  #navegacao{
    display: flex;
    justify-content: space-between;
  }

  #navegacao input{
    display: none;
  }
}