/* Fonte personalizada */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body{
  margin: 0;
  background: url('../imagens/bg.jpg');
  background-repeat: cover;
}

#navegacao{
  display: none;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
  background-color: rgba(175, 175, 156, 0.8);
}

header>div{
  position: relative;
  width: 10%;
  height: 20%;
}

header h1{
  font-family: 'Indie Flower', 'cursive';
  font-size: 18pt;
  margin: 0;
  font-weight: bolder;
}

/* Ícone de Lupa */
.search.icon {
  color: #000;
  position: absolute;
  margin-top: 2px;
  margin-left: 3px;
  width: 12px;
  height: 12px;
  border: solid 1px currentColor;
  border-radius: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search.icon:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 5px;
  height: 6px;
  width: 1px;
  background-color: currentColor;
}

/* Ícone do Menu Hamburger */
.menu.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}