/* Fonte personalizada */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body{
  max-width: 1200px;
  font-family: 'Indie Flower', 'cursive';
  margin: 0;
  background: url('../imagens/bg.jpg');
  background-repeat: cover;
}

#navegacao{
  display: none;
}

#navegacao h2{
  display: none;
  margin: 0;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
  background-color: rgba(175, 175, 156, 0.8);
}

header>div{
  position: relative;
  width: 10%;
  height: 20%;
}

header h1{
  font-size: 18pt;
  margin: 0;
  font-weight: bolder;
}

#navegacao{
  background-color: rgba(175, 175, 156, 0.8);
}

#navegacao>div{
  position: relative;
  width: 10%;
  height: 20%;
}

#navegacao nav{
  display: flex;
  justify-content: space-around;
  font-size: 13pt;
  width: 85%;
}

#navegacao nav a{
  font-weight: bold;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  padding: 0 2px;
}

#navegacao input{
  font-family: 'Indie Flower', 'cursive';
  border: 2px solid black;
  padding: 5px 10px 5px 25px;
}

#itens{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produto{
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 90%;
  margin: 20px 0;
}

.produto p{
  font-weight: bold;
  font-size: 14pt;
}

.produto img{
  width: 60vw;
  height: 60vw;
}

@media screen and (min-width: 470px){
  header>div{
    display: none;
  }

  header h1{
    font-size: 24pt;
  }

  #navegacao{
    display: flex;
    justify-content: space-between;
  }

  #navegacao input{
    display: none;
  }
}

@media screen and (min-width: 800px){
  #navegacao nav{
    width: 60%;
  }

  #navegacao input{
    display: inline-block;
  }

  #navegacao>div{
    width: 28%;
  }
}

@media screen and (min-width: 1111px){
  body{
    margin: 0 auto;
  }

  header h1{
    font-size: 36pt;
    padding-top: 5vh;
  }

  #navegacao{
    justify-content: space-around;
    height: 10vh;
    align-items: center;
  }

  #navegacao nav{
    justify-content: space-between;
  }

  #navegacao>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .search.icon{
    display: none;
  }

  #navegacao h2{
    display: block;
  }

  header{
    height: 10vh;
  }

  #navegacao nav a{
    border: none;
    border-bottom: 2px solid black;
  }

  #navegacao nav a:hover{
    border: 2px solid black;
    font-size: 36pt;
  }
}

/* Ícone de Lupa */
.search.icon {
  color: #000;
  position: absolute;
  margin-top: 2px;
  margin-left: 3px;
  width: 12px;
  height: 12px;
  border: solid 2px currentColor;
  border-radius: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search.icon:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 5px;
  height: 6px;
  width: 2px;
  background-color: currentColor;
}

/* Ícone do Menu Hamburger */
.menu.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}